//.IV,
//.EV,
//.Level,
//.base,
//.speed {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-between;
//    input {
//        text-align: center;
//        width: 50px;
//        height: 30px;
//        padding: 0;
//        margin: 0;
//    }
//}




#header {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
//    flex-grow: 50%;
    justify-content: space-around;
    
    padding: 0 auto;
}

.pokepanel {
//    @extend .column, .large-6, .medium-6, .small-12;
//    display: inline-block;
//    width: 48%;
    display: flex;
    height: 100%;
    margin: 1%;
    width:  100%;
    
    background-color:  #e0dcdc;
    border-radius: 10px;
    padding: 10px;
}

.button-group {
    display: flex;
}

.footnote {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}