form(name='pkmn_1', action='#')
    label Pokémon #1 
    select#pkmnSelect_1

    #IV
        label IV
        input#iv_1(type="text")
    #EV
        label EV
        input#ev_1(type="text")
    #Level
        label Level
        input#level_1(type="text")
    
    label Nature
    select#nature_1.nature
        option(value='+') +
        option(value='N/A', selected='') N/A
        option(value='-') -
    
    label Ability
    select#ability_1.ability
        option(value='N/A', selected='') N/A
        option(value='unburden') Unburden
        option(value='chlorophyl') Chlorophyl
        option(value='swiftSwim') Swift swim
        option(value='quickFeet') Quick Feet
    #para
        label Paralysis
        input#para_1.para(type='checkbox')
    #tailwind
        label Tailwind
        input#tailw_1.tailw(type='checkbox')
    #item
    label Item
    select#item_1.item
        option(value='N/A') N/A
        option(value='Scarf') Choice Scarf
        option(value='Power') Power Item
        option(value='Macho') Macho Brace
        option(value='Iron') Iron Ball
    #modifier
        label Modifier
        select#modifier_1.modifier
            option(value='+6') +6
            option(value='+5') +5
            option(value='+4') +4
            option(value='+3') +3
            option(value='+2') +2
            option(value='+1') +1
            option(value='N/A', selected='') N/A
            option(value='-1') -1
            option(value='-2') -2
            option(value='-3') -3
            option(value='-4') -4
            option(value='-5') -5
            option(value='-6') -6
    #base
        label Base:
        input#base_1.base(readonly='readonly')
    #speed
        label Speed:
        input#speed_1.speed(readonly='readonly')