form#output(name='output', action='#')
    button#submit(onclick='updateFields()') Submit
    input#outputBox
    button#reset(onclick='restart()') Reset
    .footernote 
        | Find the Git repository 
        a(href='https://github.com/eddietindame/pokespeedtier.git') here
        | .